<h1>Help</h1>
<div class="container">
    <div class="address">
        <div class="img">
            <img src="../../../assets/pin.png" alt="">
        </div>
        <div class="address-details">
            <h4>Main Office</h4>
            <p>Cabanatuan City,</p>
            <p>Nueva Ecija</p>
        </div>

    </div>

    <div class="phone">
        <div class="img">
            <img src="../../../assets/phone.png" alt="">
        </div>
        <div class="phone-details">
            <h4>Company Phone Number</h4>
            <p>xxxx-xxx-xxxx</p>
        </div> 
    </div>

    <div class="email">
        <div class="img">
            <img src="../../../assets/email-white.png" alt="">
        </div>
        <div class="email-details">
            <h4>Company Email</h4>
            <p>levelupscholar&#64;gmail.com</p>

        </div>
    </div>
</div>

<div class="container2">
    

    <div class="contact">
        <h2>About Us</h2>
        <p>"Our dedicated team is passionate about helping students achieve their academic goals. We firmly believe that education should be a universally accessible opportunity, transcending barriers and empowering individuals to reach their fullest potential. In our pursuit of this vision, we recognize the transformative power of scholarships. These financial aids not only alleviate the burden of educational expenses but also serve as catalysts for positive change.

            At level-up scholarships, we are committed to fostering inclusivity and breaking down financial barriers to education. We understand that every student is unique, with distinct aspirations and challenges. By curating a diverse range of scholarships, we aim to cater to the varied needs of students worldwide, ensuring that deserving individuals, regardless of their background, can pursue higher education.
            "</p>

        <h2>Our Team</h2>

        <div class="team-member">
           
            <div>
                <h3>Rein C. Gajonera</h3>
                <p>founder</p>
            </div>
        </div>

        <div class="team-member">
         
            <div>
                <h3>Niel M. Manalo</h3>
                <p>Co-founder</p>
            </div>
        </div>
    </div>
    
</div>
