<h1>Dashboard</h1>


<div style="display: flex;">
    <div class="scholarships">
        <div>
            <p>Scholarships Updates</p>
        </div>
    
        <div class="items">
            <div class="scholarship-items">
    
            </div>
            <div class="scholarship-items">
        
            </div>
            <div class="scholarship-items">
        
            </div>
    
        </div>
    </div>

    <div class="messages">
        <p>Messages</p>
        <div class="people">
            <div class="profile-messages">
            </div>

            <div class="name">
                Nello De Guzman
            </div>
        </div>
        <div class="people">
            <div class="profile-messages">
            </div>

            <div class="name">
                Daynielle Dizon
            </div>
        </div>

        

    </div>

</div>


<div style="display: flex;">

    <div class="applic">
        <div>
          <p>Applications</p>
        </div>
      
        <div class="a-items">
          <div class="applications-items" *ngFor="let application of applications">
            {{ application.firstName }} {{ application.lastName }} - {{ application.scholarship }}
          </div>
        </div>
      </div>


    <div class="notif">
        <p>Notifications</p>
        <div class="people">
            <div class="profile-notif">
            </div>

            <div class="name">
                Carlo De Guzman : Comment
            </div>
        </div>
    </div>