.topnav {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-between;
    transition: transform 0.5s ease;
    animation: slidedown 0.5s ease; 
}

.topnav-first {
    flex: 1;
}
.topnav-first img {
    margin: 7%;
    width: 100%;
    height: auto;
}

.topnav-mid {
    padding-left: 65%;
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.topnav-mid div {
    padding-top: 10%;
    margin-right: 70px;
    color: #e84c73;
    text-decoration: none;
}
.topnav-mid div:hover {
    color: #604c95;
    text-decoration: 3px underline;
}
.topnav-end {
    display: flex;
    flex: 1;
    align-items: end;
}

.topnav-end input{
    padding: 10px 20px;
    border-color: #ffb74b;
    border-radius: 20px;
    border-style: none;
    color: #ffb74b;
}


.screen {
    padding-top: 13%;
    height: 65vh;
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.title {
    flex: 2;
    text-align: center;
    margin: auto;
    width: 50%;
}

.scholarshiptext {
    color: #e84c73;
    margin: 0;
    letter-spacing: 6px;
    font-size: 80px;
    text-align: center; 
}

.findertxt {
    color: #604c95;
    margin: 0;
    letter-spacing: 6px;
    font-size: 80px;
    text-align: center; 
}

.title-details {
    margin-top: 50px;
    text-align: center; 
    text-justify: auto;
    line-height: 35px;
    color: #7c7e80;
    margin-right: 20px;
}

.find {
    margin-top: 50px;
    padding: 10px 20px 10px 20px;
    font-family: 'Lemon/Milk', sans-serif;
    font-family: 'Lemon/Milk light', sans-serif;
    letter-spacing: 3px;
    border: 1px solid #e84c73;
    background-color: transparent;
    color: white;
}

.find:hover {
    border: 1px solid #e84c73;
    background-color: white;
    color: #e84c73;
}

.scholarships {
    margin-left: 100px;
    overflow: hidden;
}

.scholarships h2{
    color: #e84c73;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slidedown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
@keyframes fadein {
    from {
        transform: opacity(0);
    }
    to {
        transform: opacity(1);
    }
}


.scholarship-cards {
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    transition: transform 0.5s ease; /* Add a smooth transition effect */
            animation: slideIn 0.5s ease; /* Use the slideIn animation */
}

.cards {
    background-color: #e4eef8;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

.empty {
    height: 220px;
}

.cards p {
    color: #00575e;
    font-size: 25px;
    margin-left: 30px;
    margin-bottom: 0;
    margin-top: 0;
}

.about {
    margin-left: 100px;
    margin-bottom: 100px;
}

.about h2 {
    color: #00575e;
}

.container-about {
    width: 90%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}

.picture-about {
    width: 500px;
    height: 500px;
    background-color:white;
}

.details-about  div{
    width: 600px;
    height: 150px;
    margin-left: 150px;
    margin-top: 50px;
}

.details-about {
    margin-top: 30px;
}

.one {
    background-color: #00575e;
}

.two {
    background-color:#ffb74b;
}