/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lemon/Milk', sans-serif;
    font-family: 'Lemon/Milk light', sans-serif;
    background:#1b1b1b;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
    background-size: cover;
    overflow: hidden;
}

