<header>
    <h1>Scholarships Showcase</h1>
</header>
<div class="topnav">
    <div class="topnav-first">
        <a href="/"><img src="/assets/logo.png" alt=""></a>
    </div>
  </div>
  <br>
<section>
    <div class="scholarship">
        <h2>Academic Scholarship</h2>
        <br>
        <p>This scholarship is awarded to students based on their academic achievements and performance.</p>
        <h4>Requirements to apply : </h4>
        <p>Requirements 1</p>
        <p>Requirements 2</p>
    </div>

    <div class="scholarship">
        <h2>Athletic Scholarship</h2>
        <br>
        <p>This scholarship is awarded to students who excel in sports and have a strong athletic background.</p>
        <h4>Requirements to apply : </h4>
        <p>Requirements 1</p>
        <p>Requirements 2</p>
    </div>

    <div class="scholarship">
        <h2>Artistic Scholarship</h2>
        <br>
        <p>This scholarship is awarded to students with talent for arts and have a strong creative background.</p>
        <h4>Requirements to apply : </h4>
        <p>Requirements 1</p>
        <p>Requirements 2</p>
    </div>
</section>