<div class="topnav">
  <div class="topnav-first">
      <a href="/"><img src="/assets/logo.png" alt=""></a>
  </div>
</div>

<div class="screen">
  <div class="details-container">
    <p class="create">Create an Account</p>
    <br>
    <p class="email">Email</p>
    <div class="input">
      <input type="email" placeholder="xxxxxxxxxx@gmail.com">
      <br><br>
      <p class="password">Password</p>
      <input type="password" placeholder="xxxxxxxxx">
      <button type="submit" class="btn-email">Continue with Email</button>
      <button type="submit" class="btn-email">Continue with Phone</button>

    
  </div>
</div>