<h1>Applications</h1>

<div class="navbar">
  <p>Sort by :</p>
  <input class="searchbar" type="text" placeholder="Search..">
</div>

<div class="container">
  <div class="titles">
    <p class="no">No.</p>
    <p class="firstname">First Name</p>
    <p class="lastname">Last Name</p>
    <p class="email">Email</p>
    <p class="phone">Phone Number</p>
    <p class="address">Address</p>
    <p class="scholarship">Scholarship</p>
  </div>
</div>

<div class="datas" *ngFor="let application of applications; let i = index">
  <p class="no-data">{{ application.no }}</p>
  <p class="firstname">{{ application.firstName }}</p>
  <p class="lastname">{{ application.lastName }}</p>
  <p class="email-person">{{ application.email }}</p>
  <p class="phone">{{ application.phone }}</p>
  <p class="address">{{ application.address }}</p>
  <p class="scholarship">{{ application.scholarship }}</p>

  <button>Check</button>
  <button>Edit</button>
  <button (click)="deleteApplication(i)">Delete</button>
</div>
