<h1>Applications</h1>

<div class="navbar">
  <p>Sort by :</p>
  <input class="searchbar" type="text" placeholder="Search..">
</div>

<div class="container">
  <div class="titles">
    <p class="firstname">First Name</p>
    <p class="lastname">Last Name</p>
    <p class="email">Email</p>
    <p class="phone">Phone Number</p>
  </div>
</div>

<br>
  <div class="info">
      <div class="card-body">
          <table class="table table-hover">
              <tbody>
                <tr *ngFor="let studnet of studentsList">
                  <td class="firstname">{{studnet.first_name}}</td>
                  <td class="lastname">{{studnet.last_name}}</td>
                  <td class="email-person">{{studnet.email}}</td>
                  <td class="phone">{{studnet.mobile}}</td>
                  <td>
                    <button class="btn btn-outline-danger" (click)="deleteStudent(studnet)">Delete</button>
                </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>

