<header>
    <h1>Message Inbox</h1>
</header>

<div class="inbox-container">
    <div class="message">
        <div class="message-header">Nello De Guzman</div>
        <div class="message-content">Does any valid official ID works?</div>
        <button class="respond-button">Respond</button>
    </div>

    <div class="message">
        <div class="message-header">Daynielle Dizon</div>
        <div class="message-content">What do you mean?</div>
        <button class="respond-button">Respond</button>
    </div>



</div>