<div class="sidenav-container">
  <div class="logo-container">
      <span class="logo"><a href="http://localhost:4200/dashboards"><img src="assets/logo.png"></a></span>
      <span class="logo2"><img src="assets/teacher.PNG"></span>
      <br><br>
      <div class="wrap">
      <h2 class="user">Seras Victoria</h2>
    </div>
  </div>
  <ul class="sidenav-nav-menu">
      <li><p><a class="links" routerLink="/dashboard">Dashboard</a></p></li>
      <li><p><a class="links" routerLink="/applications">Applicationst</a></p></li>
      <li><p><a class="links" routerLink="/notifications">Notifications</a></p></li>
      <li><p><a class="links" routerLink="/messages">Messages</a></p></li>
  </ul>
  <ul>
      <li><i class="fas fa-cog"></i><p><a class="links" routerLink="/help">Settings</a></p></li>
      <li><i class="fas fa-chevron-circle-left"></i><p><a class="links" routerLink="/login"><b>Log Out</b></a></p></li>
      <br>
  </ul>
</div> 

